
  <div id="market">
    <div class=" flex mt-10 ml-2 ">
      <mat-nav-list>
        <mat-icon mat-list-icon>home</mat-icon>
        <a class="font-bold align-top ml-2" routerLink="/Home"> Home </a>
      </mat-nav-list>
  
    </div>
    <div class=" flex mt-10 ml-2">
      <mat-nav-list>
        <mat-icon>store</mat-icon>
        <a class="font-bold align-top ml-2" routerLink="/Products"> Products </a>
      </mat-nav-list>
  
    </div>
    <div class=" flex mt-10 ml-2">
      <mat-nav-list>
        <mat-icon mat-list-icon>shopping_cart</mat-icon>
        <a class="font-bold align-top ml-2" routerLink="/Cart"> Cart </a>
      </mat-nav-list>
  
    </div>
  
    <div class=" flex mt-10 ml-2">
      <mat-nav-list>
        <mat-icon> dashboard</mat-icon>
        <a class="font-bold align-top ml-2 " routerLink="/Dashboard">Dashboard </a>
      </mat-nav-list>
  
    </div>
  </div>
