<mat-card-header class="ml-2">
  <mat-card-title class="line-clamp-1 overflow-hidden text-[#60A9A6]">{{data.title}}</mat-card-title>

</mat-card-header>
<mat-card-content>
  <img mat-card-image src="{{data.image}}" class="h-48 img-fluid">
  <mat-card-subtitle class="line-clamp-1 overflow-hidden ml-2" id="description">{{data.description}}</mat-card-subtitle>
  <mat-card-subtitle class="ml-2 font-bold">Price :{{data.price}} $</mat-card-subtitle>
</mat-card-content>
<div class="d-flex  justify-content-between align-items-center ">
  <div>
    <input type="number" class="form-control active mb-2 ml-2" id="Quantity" value="1" [(ngModel)]="Quantity" />
  </div>
  <div>

    <button class="btn btn-dark text-uppercase  bg-[#60A9A6] mr-2 mb-2" (click)="addToCart()" id="card">
      <i class="fa fa-shopping-cart"></i>
    </button>
  </div>
</div>